
<div class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <div class="pic is-block-widescreen has-text-centered">
          <img src="images/me-website.png">
        </div>
      </div>
      <div class="column is-6 has-text-centered">
        <h2 class="title is-2">
          {{ .Site.Title }}
        </h2>
        <h5 class="title is-5">
          I'm a capable technical and educational leader with two decades of software development, management, consulting and teaching experience.
        </h2>
        <h5 class="title is-5">
          I've led projects, teams and workshops for companies like Verizon, The Home Depot, Nationwide Insurance and Caterpillar as well as several US federal agencies including the Dept. of Education, the Dept. of Homeland Security, the Library of Congress and the Federal Aviation Administration. 
        </h5>
        <h5 class="title is-5">
          Because I love learning and teaching, I've also made time to work with over 3000 adults among 200 companies on how to design and build agile software solutions for the desktop and the web.
        </h5>
        <h5 class="title is-5">
          Most recently I've had the pleasure of advising a number of bootcamps around the world, including schools in Egypt, Finland, Kenya, Mexico and Ukraine, on their early stage program design and development.
        </h5>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column">
        <h5 class="title is-5">
          I'm a big fan of Seymour Papert and <a target="_new"href="https://en.wikipedia.org/wiki/Constructionism_(learning_theory)">constructionism</a> and see the recent tsumani of immersive coding bootcamps as the market's endorsement of this approach.  Emotionally-engaging group experience focused on projects and play is the key to detox from our miseducation.
        </h5>
        <h5 class="title is-5">
          In some distant past I cofounded a scrappy little software company with my best friend where we designed and built 3 products for Coldwell Banker to streamline their condominium sales process.  That dream lasted a little over two years.
        </h5>
        <h5 class="title is-5">
          Almost all my students ask so I'll share that, when reading, I speed up to cure boredom and slow down to stoke interest. When teaching, I encourage people to explore their emotional reactions to learning because so many of us have been trained to compete loudly for shallow successes while hiding our confusion about deeper, more meaningful challenges behind a thick wall of shame.
        </h5>
        <h5 class="title is-5">
          And it often surprises people to hear that I enjoy feeling confused. In fact I see confusion as the last recognizable milestone before we learn something new. It feels like there's knowing, then confusion, then the new.
        </h5>
      </div>
    </div>
  </div>
</div>