
<div class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <div class="pic is-block-widescreen has-text-centered">
          <img src="images/me-website.png">
        </div>
      </div>
      <div class="column is-6">
        <h2 class="title is-2">
          hi, my name is <br class="is-hidden-widescreen" /><strong>{{ .Site.Title }}</strong>
        </h2>
        <h5 class="title is-5">
          is there such a thing as being <strong>addicted to learning</strong>?  if there is, I am.
        </h2>
        <h5 class="title is-5">
          I've led <strong>projects, teams and workshops</strong> for companies like Stripe, Microsoft, Verizon, The Home Depot, Nationwide Insurance and Caterpillar as well as several US federal agencies including the Dept. of Education, the Dept. of Labor, the Dept. of Homeland Security, the Library of Congress and the Federal Aviation Administration.  
        </h5>
        <h5 class="title is-5">
          <strong>Over the past 17 years I've taught 3500 adults</strong> (in person) how to design and build software solutions for the web using a number of programming languages and platforms with an agile mindset.
 
        </h5>
        <h5 class="title is-5">
          I've also had the pleasure of advising <strong>coding bootcamps around the world</strong>, including schools in Egypt, Finland, Kenya, Mexico, Ukraine and Brazil on their <strong>early stage strategy, design and program development.</strong>
        </h5>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column">
        <h5 class="title is-5">
          I'm a big fan of Seymour Papert's <a target="_new"href="https://en.wikipedia.org/wiki/Constructionism_(learning_theory)">constructionism</a> and see the recent tsumani of immersive coding bootcamps as the market's endorsement of this approach.  Emotionally-engaging group experiences focused on projects and play is the key to detoxing from our performance-based miseducation. Learning was never better than when we were 3 years old.
        </h5>
        <h5 class="title is-5">
          I'm also a fan of Dr. Sivasailam Thiagarajan's <a target="_new"href="http://www.thiagi.com/resources/#/games-3/">games by Thiagi</a> for group forming and norming, dissolving status and cultural barriers and generally having a good time with groups of people. Checkout BARNGA if you're not familiar, it's a hoot.
        </h5>
        <h5 class="title is-5">
          Almost all my students ask about this so I'll share that, when reading, I speed up to cure boredom and slow down to stoke interest. That is, I change my <a href="#">learning strategy</a> in response to how I'm feeling. For some reason most adults don't do this -- they just seem to beat themselves over the head with whatever learning materials are handed to them until they're satisfied the pain won't stop or just go numb I guess.
        </h5>
        <h5 class="title is-5">
          When teaching, I encourage people to explore their <a href="#">emotional reactions to learning</a> because so many of us have been trained to compete loudly for shallow successes while hiding our confusion about deeper, more meaningful challenges behind a thick wall of shame. As it turns out, most of us aren't struggling with the complexity of the subject at all, but with the volume of the voices in our heads trying to convince us that we're not enough, or too much, or whatever else our body-memory picked up over the years from people with unrestrained access to the record button.
        </h5>
        <h5 class="title is-5">
          It often surprises people to hear that I actually enjoy feeling confused. I think it's because somewhere along the line I convinced myself that the feeling of <a href="#">confusion is the last recognizable milestone</a> before we learn something new. Most adults seem to turn away when they notice a feeling of confusion, as if something is happening too quickly for them and it needs to stop.  To me it seems a lot like going running and stopping as soon as your breathing changes because you're convinced it's not healthy to breathe quickly. 
        </h5>
        <h5 class="title is-5">
            <strong>Embrace the confusion -- it's what aerobic exercise feels like in your head.</strong>
        </h5>

      </div>
    </div>
  </div>
</div>
